[Unit]
Description=Transparent DNS SOCKS Proxy

[Service]
Type=forking
ExecStart=/usr/bin/dns_proxy /etc/dnsproxy/dns_proxy.conf
ExecStop=killall dns_proxy
Restart=on-failure

[Install]
WantedBy=multi-user.target